*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: #EDEAEA;
}

header {
    height: 100px;
    padding: 0 20px;

    background-color: #be89cb;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#menuNavegacao {
    display: flex;
    gap: 	40px;
}

.foto-perfil {
    width: 150px;
    border: 5px solid #be89cb;

    border-radius: 50%;
    padding: 5px;
}

.foto-perfil:hover {
    opacity: 0.6;
}

ul, ol {
    list-style: none;
}

#menuNavegacao li a {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;

    transition: 0.3s;
}

#menuNavegacao li a:hover {
    border-bottom: 2px solid #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    padding: 45px 30px;
    margin: auto;
    width: 960px;
}

.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-container-paragrafo {
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 20px 20px;
}

.sub-section {
    background-color: #dbd9d9;
    width: 100%;
}

h1 {
    font-size: 1.75em;
    text-align: center;
    font-weight: 700;
}

h2 {
    font-size: 1.25em;
    text-align: center;
}

h1, h3 {
    color: #ff4dbc;
}

h2, h4 {
    color: #837f85;
}

h3 {
    padding: 11px;
}
section ul {
    max-width: 760px;
    margin: auto;
}

.projetos {
    display: flex;
    flex-direction: column; 
    gap: 8px;
    padding: 20px 20px;
}

.subparagrafo {
    font-size: 14px;
    height: 180px;
}

footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
    padding: 42px 31px;
    height: 198px;
    background-color: #be89cb;
    gap: 27px;
}